

header.fl-hdr {
    background: #fff;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -ms-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    position: relative;
    z-index: 5
}
.header-innr {
    background: #fff;
    padding: 12px 0
}
.hdr-left,
.hdr-rgt {
    width: 50%;
    float: left
}
.hdr-left {
    padding-right: 30px
}
.hdr-rgt {
    text-align: right
}
.hdr-logo,
.secure-img{
    display: inline-block;
    vertical-align: baseline;
    max-width: 160px
}
.header .secure-img {
    max-width: 225px
}
.fl-hdr img{
    width: 100%
}
.fl-shipping {
    padding-bottom: 28px;
    background: #fff;
    box-sizing: border-box;
    position: relative
}
.fl-shipping img {
    display: inline-block;
    position: relative;
    top: 36px;
    width: 57px;
    height: 57px
}
.fl-shipping .two_sec img {
    top: 28px;
    width: 71px;
    height: 71px
}
.fl-shipping-col {
    width: 33.333%;
    float: left;
    padding-left: 7px;
    padding-right: 7px
}
.fl-shipping h4 {
    color: #000;
    font-family: 'SourceSansPro-Semibold'; 
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 45px;
    width: 100%
}
.fl-shipping .two_sec>h4 {
    font-family: 'SourceSansPro-Bold';  
    margin-top: 32px;
}
.fl-shipping:before {
    content: "";
    height: 14px;
    width: 100%;
    position: absolute;
    background: #d91a1a;
    left: 0;
    right: 0;
    border-radius: 50px;
    top: 57px;
} 
.special-offer-con-wrp {
    position: relative;
    text-align: center;
    padding: 75px 20px 95px;
    color: #fff;
    z-index: 1;
    margin-left: -15px;
    margin-right: -15px;
}
.special-offer-con {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center bottom!important;
    z-index: 2
}
.special-offer-dsc{
    position: relative;
    z-index: 3
}
.special-offer-con-wrp h5 {
    margin-bottom: 24px;
	font-family: 'TitilliumWeb-SemiBoldItalic';
    font-family: 'TitilliumWeb-SemiBold';
    font-size: 22px;
}
.special-offer-con-wrp h1 {
    font-family: 'TitilliumWeb-Bold';
    margin-bottom: 24px;
    text-shadow: 1px 3px 7px #000;
}
.special-offer-con-wrp h1 > span{
	color:#cb0f0f;
}
.special-offer-dsc > span {
	font-family: 'TitilliumWeb-Regular';
    font-size: 22px;
    display: inline-block;
    vertical-align: baseline;
}

.fl-content-sec-3-wrp{
    padding: 26px 0 42px;
    background: #fff;
}
.fl-content-sec-3-img{
    width: 47%;
    float: left;
}
.fl-content-sec-3-des{
    width: 53%;
    float: left; 
    padding-left: 30px;  
    padding-right: 25px; 
    padding-top: 7px;
}
.fl-content-sec-3-wrp img{
    width: 100%;
    height: auto;
    max-width: 515px;
}
.fl-content-sec-3-wrp p{
    margin-bottom: 28px;
}
.fl-content-sec-3-wrp p:last-child {
    margin-bottom: 0;
}
.fl-content-sec-3-wrp p strong{
    font-family: 'SourceSansPro-Bold';
    font-weight: 400;
}
.fl-supercharges-block-1 {
    padding-bottom: 24px;
}
.fl-cortisol-block-2 .fl-cortisol-head,
.fl-managing-block-1 .fl-managing-head,
.fl-supercharges-block-1 .fl-supercharges-head{
    background-repeat: no-repeat!important;
    background-position: center center!important;
    background-size: cover!important;
    padding: 20px 15px 30px;
    border-radius: 8px 8px 0 0;
    text-align: center;
    color:#fff;
    font-family: 'TitilliumWeb-Bold';
    margin-bottom: 30px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.fl-cortisol-block-2 .fl-cortisol-two-part,
.fl-supercharges-block-1 .fl-supercharges-two-part{
	position: relative;
	padding: 34px 0;
    z-index: 1;
}
.fl-supercharges-block-1 .fl-supercharges-img{
    background-repeat: no-repeat!important;
    background-position: center center!important;
    background-size: cover!important;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left:36%;
    z-index: 2
}
.fl-cortisol-block-2 .fl-cortisol-img img,
.fl-supercharges-block-1 .fl-supercharges-img img{
    display: none;
}
.fl-cortisol-block-2 .fl-cortisol-img{
    background-repeat: no-repeat!important;
    background-position: center center!important;
    background-size: cover!important;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right:36%;
    z-index: 2
}
.fl-cortisol-block-2 .fl-cortisol-des,
.fl-supercharges-block-1 .fl-supercharges-des{
	position: relative;
	z-index: 3;
	width:52%;
	background: #fffc;
	padding: 32px 45px 37px 40px;
	-webkit-box-shadow: 0px 0px 27px -18px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 27px -18px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 27px -18px rgba(0,0,0,0.75);
}
.fl-supercharges-des p:last-child{
	margin: 0;
}
.fl-supercharges-block-2 {
    padding-bottom: 40px;
}
.fl-health-risks-head,
.fl-cortisol-block-1 .fl-cortisol-head,
.fl-cortisol-block-3 .fl-cortisol-head,
.fl-managing-block-2 .fl-managing-head,
.fl-supercharges-block-2 .fl-supercharges-head{
    padding: 20px 15px 22px;
    text-align: center;
    color:#010101;
    font-family: 'TitilliumWeb-Bold';
}
.fl-health-risks-head h2,
.fl-cortisol-block-1 .fl-cortisol-head h2,
.fl-cortisol-block-3 .fl-cortisol-head h2,
.fl-managing-block-2 .fl-managing-head h2,
.fl-supercharges-block-2 .fl-supercharges-head h2{
    margin-bottom: 15px;
}
.fl-cortisol-block-1 .fl-cortisol-img,
.fl-cortisol-block-3 .fl-cortisol-img,
.fl-managing-block-1 .fl-managing-img,
.fl-managing-block-2 .fl-managing-img,
.fl-supercharges-block-2 .fl-supercharges-img{
	width:48.80%;
}
.fl-cortisol-block-1 .fl-cortisol-des,
.fl-cortisol-block-3 .fl-cortisol-des,
.fl-managing-block-1 .fl-managing-des,
.fl-managing-block-2 .fl-managing-des,
.fl-supercharges-block-2 .fl-supercharges-des{
	width:51.20%;
	padding: 12px 15px 10px 27px;
}
.fl-paired-block-4 .fl-paired-head,
.fl-managing-block-1 .fl-managing-head,
.fl-managing-block-1 .fl-managing-head, 
.fl-supercharges-block-1 .fl-supercharges-head {
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    padding: 12px 15px 32px;
    border-radius: 8px;
    text-align: center;
    color: #fff;
    font-family: 'TitilliumWeb-Bold';
}
.fl-cortisol-sec .fl-cortisol-block-1{
    padding-bottom: 40px;
}
.fl-managing-sec{
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center bottom!important;
    padding-bottom: 50px; 
    margin-left: 2px;
    margin-right: 2px;
    position: relative;
}
.fl-managing-block-1 .fl-managing-head{
    margin-top: -8px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 14px 15px 33px;
}
.fl-managing-block-1 .fl-managing-des{

}
.fl-cortisol-sec{
    padding: 20px 0 57px;
}
.fl-managing-des p{
    margin-bottom: 24px;
}
.fl-managing-des p:last-child,
.fl-cortisol-des p:last-child{
    margin: 0;
}
.fl-cortisol-block-3 .fl-cortisol-des{
    margin-bottom: ;
    padding: 0 27px 10px 0;
}
.fl-cortisol-block-3 .fl-cortisol-img {
   padding-top: 15px;
}
.fl-cortisol-block-1 .fl-cortisol-des{
    padding: 12px 27px 10px 0;
}
span.fl-txt-line-bg {
    font-family: 'SourceSansPro-Bold';
    display: inline-block;
    vertical-align: baseline;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: 100% 100% !important;
    margin-right: -12px;
    margin-left: -12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 5px;
    color: #000;
}
/*span.fl-txt-line-bg em{
    font-family: 'SourceSansPro-BoldItalic';
}*/






.fl-cortisol-block-3{
    padding-top: 15px;
}
.fl-cortisol-block-3 .fl-cortisol-two-part{
    padding-top: 10px;
}
.health-risks-grd-sec-wrp{
    padding-top: 5px;
}
@media(max-width: 1199px){
    h1 {
        font-size: 45px
    }
    h2 {
        font-size: 38px
    }
    h3 {
        font-size: 34px
    }
    h4 {
        font-size: 22px
    }
    h5 {
        font-size: 20px
    }
    .fl-cortisol-block-1 .fl-cortisol-img,
    .fl-cortisol-block-3 .fl-cortisol-img,
    .fl-managing-block-1 .fl-managing-img,
    .fl-managing-block-2 .fl-managing-img,
    .fl-supercharges-block-2 .fl-supercharges-img{
        width:45%;
    }
    .fl-cortisol-block-1 .fl-cortisol-des,
    .fl-cortisol-block-3 .fl-cortisol-des,
    .fl-managing-block-1 .fl-managing-des,
    .fl-managing-block-2 .fl-managing-des,
    .fl-supercharges-block-2 .fl-supercharges-des{
        width:55%;
    }

} 

@media(max-width: 1023px){
    .fl-content-sec-3-img {
        width: 100%;
        float: left;
        margin-bottom: 25px;
    }
    .fl-content-sec-3-des {
        width: 100%;
        float: left;
        padding:10px 0;
    }
    .fl-cortisol-block-2 .fl-cortisol-img,
    .fl-supercharges-block-1 .fl-supercharges-img {
        background-image: none!important;
        position: static;
        margin-bottom: 25px;
    }
    .fl-cortisol-block-2 .fl-cortisol-img img,
    .fl-supercharges-block-1 .fl-supercharges-img img{
        display: inline-block;
    }
    .fl-cortisol-block-2 .fl-cortisol-des, 
    .fl-supercharges-block-1 .fl-supercharges-des {
        width: 100%;
        padding: 25px;
        float: left!important;
    }
    .fl-cortisol-block-1 .fl-cortisol-img,
    .fl-cortisol-block-3 .fl-cortisol-img,
    .fl-managing-block-1 .fl-managing-img,
    .fl-managing-block-2 .fl-managing-img,
    .fl-supercharges-block-2 .fl-supercharges-img{
        width:100%;
        margin-bottom: 25px;
    }
    .fl-cortisol-block-1 .fl-cortisol-des,
    .fl-cortisol-block-3 .fl-cortisol-des,
    .fl-managing-block-1 .fl-managing-des,
    .fl-managing-block-2 .fl-managing-des,
    .fl-supercharges-block-2 .fl-supercharges-des{
        width:100%;
        padding: 0;
    }
    .fl-cortisol-block-2 .fl-cortisol-two-part, 
    .fl-supercharges-block-1 .fl-supercharges-two-part {
        padding: 15px 0 20px;
    }
    .fl-managing-sec{
        padding-bottom: 65px;
    }
}

@media(max-width: 991px){
     h1 {
        font-size: 35px
    }
    h2 {
        font-size: 30px
    }
    h3 {
        font-size: 28px
    }
    .fl-shipping h4 {
        font-size: 18px
    }
    .fl-health-risks-head h2 br,
    .fl-cortisol-head h2 br,
    .fl-managing-head h2 br,
    .fl-supercharges-head h2 br{
        display: none;
    }
    .fl-cortisol-block-2 .fl-cortisol-head, 
    .fl-managing-block-1 .fl-managing-head, 
    .fl-supercharges-block-1 .fl-supercharges-head {
        margin-bottom: 15px;
    }

}

@media (max-width:830px){
    .fl-shipping h4 {
        font-size: 16px
    }

}

@media(max-width: 767px){ 
    body {
        font-size: 20px;
    }
    p{
       margin-bottom: 20px;
    }
    h3 {
        font-size: 22px
    }
    h4 {
        font-size: 20px
    }
    h5 {
        font-size: 18px
    }
    .special-offer-con-wrp {
        padding: 40px 20px 70px;
    }
    .fl-content-sec-3-wrp p {
        margin-bottom: 20px;
    }
    .fl-cortisol-block-2 .fl-cortisol-des, 
    .fl-supercharges-block-1 .fl-supercharges-des {
        padding: 15px;
    }
    .fl-managing-block-1 .fl-managing-head {
        padding: 20px 15px 20px;
    }
}

@media(max-width: 639px){
    .fl-shipping .two_sec img {
        width: 65px;
        height: 65px
    }
    .fl-shipping img {
        width: 50px;
        height: 50px
    }
    .special-offer-con-wrp h5 {
        margin-bottom: 20px;
    }

}
 
@media(max-width: 575px){
    .hdr-logo{
        max-width: 100px;
    }
    .secure-img {
        max-width: 120px;
    }
    .special-offer-con-wrp h1{
        line-height: 1.1;
    }

}

@media(max-width: 479px){
    .fl-shipping-progress-bar {
        margin-top: -10px
    }
    
    .fl-shipping {
        margin-left: -15px;
        margin-right: -15px;
        padding-bottom: 12px
    }
    
    .fl-shipping:before {
        height: 12px
    }
    
    .fl-shipping-col {
        width: 30%;
        float: left
    }
    
    .fl-shipping-col.two_sec {
        width: 40%;
        float: left
    }
    
    .fl-shipping-col.two_sec span {
        display: block
    }

}





















